[2020-06-13 08:02] P3GLEG opened #3 "Add CSS color to individual flow lines"
Awesome diagrams, they are so useful.

Looking through the src Link.js, it doesn't appear to be any way to pass down the CSS to the proper link or add/select them by individual ID.

[code]

Is it possible to add an attribute to individual lines to color them? Something like

[code]

[2020-06-15 13:45] bogomya opened #4 "Linking lines are broken after page resize"
![image](https://user-images.githubusercontent.com/7804416/84664643-82b97900-af27-11ea-9be1-2fbdb70a087a.png)

[2020-06-16 15:03] antonioru commented on #4
Thank you for pointing this out @bogomya
I'll have a look at it as soon as possible

[2020-07-30 17:23] thelicato opened #5 "Not able to render new nodes from outside the component"
First of all I wanna say that those diagrams are truly 'beautiful'!
Then I wanna warn you that it is not possible to edit the content of the Diagram from outside the component. For example I added a button to add a new Node in the canvas and even if the schema gets updated the canvas does not change until I make something on the canvas itself (for example moving an already present node or trying t

[2020-07-30 19:51] antonioru commented on #5
Hello @the-licato
thank you... also best nick name ever. :))
I'm not sure I understood the problem you're pointing out, can you please provide any example?

[2020-07-31 17:38] the-licato commented on #5
AHAHA thanks
I provided you an example of what I'm trying to accomplish: https://gist.github.com/the-licato/72653e9746ec0a589907c704c858204f

I also have to say that if I use the setSchema with another schema defined previously (different from the current) it does work.

[2020-08-02 20:56] antonioru commented on #5
Ok, your example's quite clear.
I think this is a bug with the library itself, probably a shallow comparison must be replaced with a deep comparison somewhere...

I'll look into it soon, unfortunately I can't promise a fix date as I'm currently working on other projects (this one is still a priority tho) in the meanwhile PR are absolutely welcome!

[2020-08-03 14:53] the-licato commented on #5
For now I solved deep-cloning the _schema_ Object before using the _setSchema_. I'll make a PR as soon as possible

[2020-08-03 14:54] antonioru commented on #5
@antonioru that would be really appreciated!
thank you man

[2020-09-02 12:41] alexratmanpl commented on #4
Hi @antonioru
That's very annoying bug indeed - when working with more nodes, especially when you have to place them inside a scrollable 'div', there's no way to link and manipulate them correctly - I would be very happy to use your tool in my project but because of that bug it's not possible.
You probably could fix that very easily by modifying `useEffect` function in `DiagramCanvas.js ` and let

[2020-09-02 13:54] antonioru commented on #4
@alexratmanpl @bogomya

Thank you for pointing this out and supporting the project, I can't wait to work again on it as I really love this library.
I hope to do it as soon as possible so I can fix this precise bug and bring new improvements.
Unfortunately at the moment I am quite busy with work and personal life, but I would love to have some contributions.
Please feel free to open a PR

thank you

[2020-09-19 07:17] volkan-a commented on #4
Hi @antonioru, is there any progress? I really would like to use on my project.

[2020-09-19 09:07] antonioru commented on #4
Hi @volkan-a
thank you for your concern, as mentioned in the previous comment: at the moment I am quite busy with work and personal life, but I would love to have some contributions.
If you feel like you need some improvements please feel free to open a PR :)

[2020-09-19 09:33] volkan-a commented on #4
I think @alexratmanpl's suggestion works.

Just change line 31 in DiagramCanvas.js as:

` useEffect(() => calculateBBox(canvasRef.current), [canvasRef.current, props]);`

then it works. But I have no idea if that affects performance.

[2020-09-19 09:45] antonioru commented on #4
@volkan-a
This is an open source software, meaning everyone is titled to contribute.
If you want, make the change by yourself, test it, make sure it does not break anything and does not affect performances then open a PR I will be very happy to look at.

[2020-09-23 17:19] volkan-a opened #6 "Child Nodes receive an outdated version of the schema."
I'm not sure if it is the correct way but I want to use custom node renderer like child component. I want to manipulate schema object when I click on custom node. But I'm just getting (probably) a copy of schema state for each node.

If I try the code below and add a few nodes, on each click I see different length of schema.nodes? How can I get "correct" schema?

[code]

[2020-09-23 17:23] volkan-a commented on #5
The link is dead. I think that I have similar problem. Do you keep it already?

[2020-09-23 17:28] antonioru commented on #6
Hello @volkan-a

thank you for your question, I hope I can be of any help.
Can you please provide a [CodeSandbox](https://codesandbox.io/) of your code?
That would be much easier to debug

[2020-09-23 17:41] volkan-a commented on #6
https://3tlfy.csb.app

It seem a bit ugly but it helps. First add  a few custom nodes then click on them. You see different length of schema.nodes on console.

[2020-09-23 18:04] antonioru commented on #6
If I'm getting this right, the problem is that the child-nodes are receiving a copy of the schema from the moment they're created.
For this reason you'll have different schema in different moment in time.

I think this is a bug, feel free to open a PR if you can/want

[2020-09-25 17:03] antonioru commented on #4
@volkan-a @bogomya
Apparently this bugs appears on Firefox only, can you confirm it?

[2020-09-25 18:28] antonioru commented on #4
@volkan-a @bogomya

Ok I think I solved the bug in the last published version: `0.2.0`

Please let me know if it works for you as well...

[2020-09-25 18:29] #4 closed

[2020-09-25 18:35] antonioru commented on #6
@volkan-a

I've dug further into this and it seems the problem lay somewhere into the fact the state is a cloned-object but when the Diagram component receives it's already a copy, I'm not sure how to properly solve this... do you have something in mind?

I think a pair of new hooks built on top of `useReducer` would help, something like:

[code]

[2020-09-25 18:37] antonioru commented on #5
@volkan-a @thelicato
I'm not sure the bug is the same, perhpas @thelicato can provide the link again? :)

[2020-09-25 18:41] antonioru opened #10 "100% code coverage"
The current code coverage is poorly around 40%, it would be nice to have a 100% score and I'd love to have some help in doing so.
**Please feel free to open any PR.**

[2020-09-25 18:44] thelicato commented on #5
Sorry for not responding right away. I changed my nickname from "the-licato" to "thelicato" so also the link changed, here is the working link:
https://gist.github.com/thelicato/72653e9746ec0a589907c704c858204f

[2020-09-25 18:44] antonioru commented on #3
Hi @P3GLEG ,

Sorry for the late response and thank you for your request.

The idea behind `beautiful-react-diagrams` is that you can use CSS to customise any style... in future I'll get rid of Tailwind providing a themed CSS styles, but for the moment a good improvement would - perhaps - be to add the `className` attribute to the Links, what do you say?

[2020-09-25 18:45] antonioru commented on #5
I still think you have the best nickname in all the open source world and beyond :))

Thank you... I'll look into it soon

[2020-09-26 01:48] P3GLEG commented on #3
No worries at all. That would be awesome man.

[2020-09-26 15:35] #3 closed

[2020-09-26 15:37] antonioru commented on #3
@P3GLEG you should be able to use `className` in your link schema from v. 0.2.1 on...

Please check the doc: https://antonioru.github.io/beautiful-react-diagrams/#/Linking%20nodes

[2020-09-26 18:06] antonioru commented on #6
All right, the first experimental implementation of `useSchema` is available at [feature/useSchema](https://github.com/antonioru/beautiful-react-diagrams/tree/feature/useSchema) branch!

The Diagram onChange method signature is changed so from this feature on you **need** to use `useSchema`!
This would fix this bug, please feel free to give any feedback.

[2020-09-26 18:10] antonioru commented on #5
@thelicato in case you need updates of this bug fix, here's the news:

https://github.com/antonioru/beautiful-react-diagrams/issues/6#issuecomment-699528810

[2020-10-08 09:17] hicham17 opened #17 "Zoom In / Out"
Hello

Thanks for the great lib!
is there a way to have a Zoom in / Zoom out feature with the existing lib or is is something new that should be developed as a new feature?

I am interested in

- Adding a Zoom in / out buttons to my canvas
- Activating Zoom in / out with the mouse scroll

Thanks in advance for your help :)
Hicham

[2020-10-08 09:30] antonioru commented on #17
Hi @hicham17
thank you for opening the issue, the ZoomIn/ZoomOut feature is definitely in the TODO list but I haven't had the opportunity to start developing it yet, so - at the moment - it's something that should be developed from scratch.

Feel free to propose any development approach and possibly open a pull request

[2020-10-08 09:37] hicham17 commented on #17
thanks a lot for your quick feedback!

[2020-10-08 09:40] hicham17 opened #18 "Scrolling canvas to allow nodes outside the visible screen"
Hi

quick question, is there a way to define a drawing area larger than the one fitting the screen
from what I see, the drawing area is currently limited and we can't have nodes outside the visible screen

maybe this is something doable with css or a canvas option?

Regards
Hicham

[2020-10-08 09:40] antonioru commented on #17
@hicham17 you are welcome!

I hope I can deliver this feature as soon as possible as it's something we are currently using on few internal projects, I'll possibly keep you posted

thank you

[2020-10-08 09:47] antonioru commented on #18
hi @hicham17
at the moment I think it's something that can be done with by CSS only
I think it's something that will come together with the feature #17

About the `canvas`: I chose not to use this technology as it will be harder to create custom nodes... so far I think SVG is performant enough.

[2020-10-10 11:16] tinspham209 opened #20 "Module not found: Can't resolve 'beautiful-react-diagrams/styles.css'"
I was installation with npm. After that, i'm import style to root `src/index.js` : `import 'beautiful-react-diagrams/styles.css';`

and issues:
`Module not found: Can't resolve 'beautiful-react-diagrams/styles.css' in 'D:\Study\React\mastering-dnd\src'
`

[2020-10-10 13:10] antonioru commented on #20
Hello @tinspham209

thank you for pointing this out, I recently changed the build setup and I must have messed up with the `dist` directory.

I'm going to solve this as soon as possibile!

For the moment, as a workaround, try importing the styles like this:

[code]

By doing so you will be importing the correct style.

Please be aware from the next release (0.3.0) the standard import will be back

[2020-10-10 14:49] #20 closed

[2020-10-10 15:57] antonioru commented on #20
@tinspham209 please try to install the library again, importing the style should work now

'beautiful-react-diagrams/styles.css'

[2020-10-12 17:29] #5 closed

[2020-10-12 17:29] antonioru commented on #6
Closed by #24

[2020-10-12 17:29] #6 closed

[2020-10-14 07:47] antonioru opened #26 "Integrate type tests (typescript) with the CI"
The tests currently run by the CI don't include the type ones (typescript)

**Solution**
Integrate the typescript tests into the CI

[2020-10-19 15:59] Lindsay89 opened #31 "useSchema should export a "disconnect" function to programmatically disconnect two linked nodes"
Given that `useSchema` currently exports a `connect` function to connects two different nodes and a `removeNode` function to remove a given node, it should also export a `disconnect` function to programmatically disconnect two linked nodes without removing them.
At the moment the only way to do so, is to change the schema directly.

[2020-10-20 11:39] tinspham209 opened #32 "Attempted import error: 'createSchema', 'useSchema' is not exported from 'beautiful-react-diagrams'"
Im read the part `Customisation` in document
https://antonioru.github.io/beautiful-react-diagrams/#/Customisation

version: ` beautiful-react-diagrams@0.3.0`

Code is:
[code]

and issues:
[code]
[code]

i was temporary fixed it by add the `/index` to import: `"beautiful-react-diagrams/index"`

[2020-10-20 14:05] Lindsay89 opened #33 "Removing linked node cause 'undefined entity' error"
**Describe the bug**
When removing a node linked to another one, the library rise an 'undefined entity' error.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a schema with different nodes, having a button to remove the node itself.
2. Link one node to another one
3. Remove one of the two linked nodes
4. See error

**Expected behavior**
Removing a linked node shouldn't cause the appl

[2020-10-20 16:31] antonioru commented on #32
Hello @tinspham209

thank you very much for opening this issue.

I just tried to create a new project using @create-react-app and then I've installed the library via npm.
I tried to replicate your bug but everything seems working quite fine.

Can you please be sure you've installed the latest version (0.3.0)?

Also can you please provide your webpack configuration?

Are you using plain JS or are y

[2020-10-21 04:45] tinspham209 commented on #32
Im was try reinstall `npm install` and it seems working fine. Thank you bro. 😉

[2020-10-21 04:45] #32 closed

[2020-10-21 07:43] antonioru commented on #32
@tinspham209 thank you very much!

[2020-10-21 13:58] kamster94 opened #35 "Directed links"
**Is your feature request related to a problem? Please describe.**
Link are undirected, it would be nice feature to have option for directed links.

**Describe the solution you'd like**
An arrow (or user-defined component ideally, with an arrow as default) on the 'end' side of link displayed when an option (isDirected for example) is set to true when defining link.

[2020-10-22 17:20] antonioru commented on #33
Closed by #34

[2020-10-22 17:20] #33 closed

[2020-11-06 13:39] antonioru commented on #26
Hi @9renpoto

thank you for your last PR, I've approved it as it improves the Diagram types.

Unfortunately I've noticed that running the `npm run test-types` command causes the following error:

[code]

it seems like there's a misconfiguration in the tsconfig file.
Do you think you can fix it in your next PR?

I would very much like to run your tests during the CI process

[2020-11-10 05:01] tinspham209 opened #47 "z-index of a node dragging is higher than others"
Example:
<img src="https://github.com/tinspham209/README/blob/master/Untitled.png?raw=true" />
Node 4 is higher than node 3, and 3 is higher than 2.
So how i can control the z-index when node 2 is dragging, or when I'm click on Node 2 and node 2 have z-index higher than other.

- Hope you can understand my idea. My English grammar is not good 😊

[2020-11-12 01:19] joancc opened #49 "Is it possible to pass in the links array to the render?"
Thanks for a great library!

I'm trying to update the rendered nodes using values from incoming connections. Can I get access to the links or the schema from inside the renderer?

Thanks!

[2020-11-12 13:26] loucarpe opened #50 "Output Port not going to the right side as requested"
Hello,
When creating a custom node I can't get to lock the output port on the right side of the node. I am sure this is a silly mistake and I should have missed something.
Here is a pastebin with my code : [https://pastebin.com/nBwFNciw](url)
Thanks for your help =D

[2020-11-12 16:27] #26 closed

[2020-11-13 19:39] antonioru opened #52 "Draggable canvas"
**Is your feature request related to a problem? Please describe.**

At the moment the Diagram "canvas" (aka the diagram wrapping div) is not draggable, as a result if a diagram is bigger than its wrapping canvas, some nodes might be not entirely visible unless the developer makes the canvas bigger.
The issue is critical in dynamic diagrams where the size of the diagram is not previously known

**D

[2020-11-13 19:45] antonioru commented on #17
Hi @hicham17 just a quick message to tell you the feature you've requested it's currently under development

#48

[2020-11-13 19:46] antonioru commented on #18
Hi @hicham17 this is currently under development #48

[2020-11-13 20:20] antonioru commented on #35
Hi @kamster94
thank you for opening this issue, I think you can currently do it by overriding the standard CSS on the library.

If you think it would be a nice feature to have, please feel free to open a pull request :)

[2020-11-13 20:26] antonioru commented on #47
Hi @tinspham209
please don't apologise for the English, your English is perfectly fine (also I'm not a native :)!

I got what you mean and yes that would be a good improvement, unfortunately at the moment the node is not "informed" that it is dragged!
It would be nice to have at least a CSS class added to the node's div while it dragged and when drag starts/ends.
At the moment we are focused on wo

[2020-11-13 20:29] antonioru commented on #49
Hi @joancc
Nope, at the moment it's not possible to access the schema from inside the renderer, but I think you can solve it by simply pass the schema as a prop to your own Node renderer or am I missing something?

Please feel free to post your code (please use (codesandbox)[https://codesandbox.io/] or something similar)

[2020-11-13 20:31] antonioru commented on #50
Hi @loucarpe

thank you very much for opening this issue, yes I'm aware that port alignments is not working... I'm sorry about that.
This is definitely a bug that needs to be solved but unfortunately at the moment we are focusing on solving #52 and  #17
In the meanwhile, please feel free to open a PR.

[2020-11-13 20:36] antonioru opened #53 "Improve performances"
**Is your feature request related to a problem? Please describe.**
The Diagram component performs few non-necessary re-renders, solving this would drastically improve the component performance.
Also, the Context is used to keep track of the position of the Nodes and Ports by using directly the HTML element but this is not really needed and can be improved.

**Describe the solution you'd like**
A r

[2020-11-15 15:44] hicham17 commented on #17
Hello Antonio
This awesome news, thanks! 🥇

[2020-11-15 15:46] hicham17 commented on #18
Hello Antonio
This awesome news, thanks again! 💯💯💯

Le ven. 13 nov. 2020 à 20:46, Antonio Rù <notifications@github.com> a
écrit :

--

--
*Hicham Tahiri*

*Co-Fondateur et Responsable Produit chez Smartly.AI <http://smartly.ai/>**+33
7 60 74 78 91 | Book a call with me here
<https://doodle.com/mm/hichamtahiri/book-a-time>*

[2020-11-15 16:26] joancc commented on #49
Totally missed that. Should work. I'll post a sandbox if anything comes up. Thanks!

[2020-11-15 16:26] #49 closed

[2020-11-15 16:33] antonioru commented on #49
@joancc
I think you missed it because the documentation is not really clear, my bad.
I'll re-write it using GitHub and I'll probably use `styleguidist` for examples only

[2020-11-15 18:21] poacher2k opened #54 "Scrollbar blindness in sidebar"
**Describe the bug**
The sidebar has `overflow: scroll` causing scrollbars always to be visible on Windows

**To Reproduce**
Steps to reproduce the behavior:
1. Go to documentation using Windows

**Expected behavior**
There should not be scrollbars before the content overflows

**Screenshots**
![image](https://user-images.githubusercontent.com/2255960/99193174-891e7c00-2777-11eb-8ceb-79a375e014d2.

[2020-11-15 20:03] antonioru commented on #54
Hi @poacher2k

thank you very much for opening this issue,
Yes, I think there's a little bug there in the sidebar, I've seen the same problem anywhere that sidebar is used.
I think this is issue belongs to [this lib](https://github.com/beautifulinteractions/beautiful-react-ui)
What do you think @Lindsay89?

[2020-11-16 10:55] harrytalbot opened #59 "Node Grouping & Nested nodes"
Would be great to see the ability to define nested nodes, and group nodes together.

This may be heavily dependent on auto-layout.

[2020-11-17 09:36] alxAgu opened #60 "Support for Touch Events"
**Is your feature request related to a problem? Please describe.**
I can't use it on the iPad (can not drag nodes or connections).

**Describe the solution you'd like**
It looks like the library does not support Touch Events

[2020-11-17 10:47] antonioru commented on #60
Hello @alxAgu
unfortunately this feature is not supported yet, even if it would be a great improvement indeed.

The reason is that all the drag n drop functionalities relies on some hooks from [beautiful-react-hooks](https://github.com/beautifulinteractions/beautiful-react-hooks) (a library I wrote) which exports only "mouse handling" hooks.
A quick way to solve this and support touch events almos

[2020-11-17 10:56] antonioru commented on #59
Hi @harrytalbot
thank you very much for opening this issue and supporting the library, would you mind to provide an example of the feature you're requesting?

cheers

[2020-11-18 11:21] antonioru opened #61 "Nodes autolayout"
**Is your feature request related to a problem? Please describe.**
At the moment, the developer shall define the nodes' coordinates to provide a valid schema, unfortunately this is not always ideal (and might result quite tedious for the developer) it would be nice to have an auto-layout feature .

**Describe the solution you'd like**

A prop to define if a Diagram is "autolayout"
[code]

A functi

[2020-11-18 12:09] fyebj3 commented on #61
Thanks I have just tried to pick up where I left off in my past studies. I am still trying to get this.

[2020-11-19 14:22] technicallynick opened #63 "Live Playground Link in README.MD broken"
Title is self explanatory. Clicking the link leads to a 404 Not Found message from github.

[2020-11-19 14:33] chrispyduck commented on #63
It should point to https://beautifulinteractions.github.io/beautiful-react-diagrams. It looks like the repository was moved.

[2020-11-19 21:50] #63 closed

[2020-11-20 02:36] madhankumar028 opened #65 "Broken link for "gh-pages""
**Describe the bug**
A clear and concise description of what the bug is.
I guess the username has been changed, it would be better if you can fix the gh-pages link to this [one](https://beautifulinteractions.github.io/beautiful-react-diagrams/).

**To Reproduce**
Steps to reproduce the behavior: NA

[2020-11-20 08:30] antonioru commented on #65
Hello @madhankumar028 thank you for reporting this issue, yes the link in the repository description was broken.
I just fixed it
thanks :)

[2020-11-20 08:44] #65 closed

[2020-11-20 08:50] gunar commented on #63
It points me to the documentation but I still don't see the live playground though.

Perhaps it should point [here](https://beautifulinteractions.github.io/beautiful-react-diagrams/#/Diagram%20Component) instead?

[2020-11-20 18:12] #17 closed

[2020-11-20 18:12] #18 closed

[2020-11-20 18:12] #52 closed

[2020-11-21 00:06] pindamonhangaba opened #66 "Link should be controlled as well"
**Describe the bug**

According to the docs: "Controlled components: exports controlled components only."

**To Reproduce**
Try to set a Link's path

**Expected behavior**
Each link should have a `path` key.

**Additional context**

With controlled links, it would be trivial to create auto-layout with better path choices (ex. DagreJS)

[2020-11-21 17:08] joancc opened #68 "Error: Invalid hook call on clean install"
**Describe the bug**
After cloning the most recent version, I'm getting the following error in the browser, perhaps related to the dependency **beautiful-react-ui**:

Error: Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen for one of the following reasons:
1. You might have mismatching versions of React and the renderer (such as React DOM)
2

[2020-11-22 21:06] tingtom opened #69 "Missing icons in 0.5.0"
**Describe the bug**
Error using 0.5 due to missing icons

Module not found: Can't resolve './icons/zoomIn.png' in 'node_modules\beautiful-react-diagrams'

**To Reproduce**
Steps to reproduce the behavior:
- Install 0.5 and use it

**Expected behavior**
No error should happen

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following inf

[2020-11-23 15:30] Lindsay89 commented on #69
Hi @tingtom

thank you for opening this issue, this is a bug we introduced recently while working on new features.
We are working on it, as of now please use the old version 4.0.

Thanks

[2020-11-23 17:13] antonioru commented on #68
That's weird, I don't have the same issue but I guess there's something wrong with the new webpack version maybe?
Anyway a new version, the `0.6.0`, is on its way and dependencies update is also included, it will probably fix this

[2020-11-24 16:00] feddot2517 opened #75 "How to dynamically add ports?"
Please help me how to dynamically add ports to a node?

[2020-11-25 11:44] ginoemiliozzi commented on #31
Hello! I've raised [this PR](https://github.com/beautifulinteractions/beautiful-react-diagrams/pull/77) to address this.
Please let me know if it looks fine to you :)

[2020-11-25 11:56] Lindsay89 opened #78 "Canvas pannable and draggable"
**Describe the bug**
Hi, we have published the 0.5 version of 'beautiful-react-diagram' library, but we recently noticed that this version has a bug.
Today we will patching the library to the old 0.4 version, the 0.5 will be deprecated.
So, for now, please use the old version, till the new one will be released.
We are working on this new version, the 0.6, that will have a new component, called Can

[2020-11-25 12:30] antonioru commented on #75
Hello @feddot2517
at the moment we don't have any example on how to dynamically add ports, but you can simply add a port by programmatically change the Diagram schema.

Please feel free to open a PR with an example about this

[2020-11-25 14:47] feddot2517 commented on #75
I did this: programmatically changed the scheme - added a new port to the target node. But there was a problem with drag & drop, because there is a dependence on the starting sizes (height / width) of the node. I decided this by making a drag area for each node, and now in my project i can move a node only by this area.. Thanks.

[2020-11-25 14:47] #75 closed

[2020-11-25 14:49] antonioru commented on #75
thank you @feddot2517

[2020-11-25 16:49] joancc opened #79 "Add support for dragging an existing wire from one input port to another"
**Is your feature request related to a problem? Please describe.**
Drag an existing link to a different port.

**Describe the solution you'd like**
If you have nodes A, B and C.
1. Link A to B
2. Click on the port at B to start dragging the same wire to C.

To achieve this right now, you have to delete the existing wire and create a new one.

**Describe alternatives you've considered**
This might

[2020-11-25 22:19] ginoemiliozzi commented on #68
I had the same issue with version `0.5.0`

[2020-11-26 08:40] antonioru commented on #31
Thank you @ginoemiliozzi !!!

[2020-11-26 08:43] antonioru commented on #31
This will be solved when the #70  will be released

[2020-11-26 09:37] antonioru commented on #68
All right, thank you @ginoemiliozzi
I'll look into it

[2020-11-26 09:38] antonioru commented on #68
by the way.... how did you two solved? @joancc @ginoemiliozzi

[2020-11-26 23:59] j6k4m8 commented on #61
If I might humbly suggest that the autolayout incorporate optional "constraints": For example, a way to specify that one node is stuck on the x=0 axis; or another node can move anywhere as long as y is greater than 100; or a node cannot pass its parents (if an edge exists between A and B, A.x must be ≤ B.x)...

[WebCola](https://github.com/tgdwyer/WebCola) does an amazing job of this, and it might

[2020-11-27 19:12] joancc commented on #68
@antonioru I moved work to a branch based on the new canvas PR you have open. Did have to rm -rf node_modules and install from scratch. The current master wasn't working still, but like you said 0.6.0 seems to fix this.

[2020-11-29 15:57] antonioru commented on #79
Closed by #84
Will be release in `0.6.0`

[2020-11-30 07:14] HarshCasper opened #88 "Interactive elements should be focusable"
**Describe the bug**
While going through the Code in `index-tests.tsx` I found this particular block of Code:

[code]

Here the Interactive elements should be focusable. According to this [resource](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/button_role#Accessibility_concerns) :

[code]

This can be fixed by using the `tabIndex` as per my best knowledge.

[2020-12-05 09:04] tinspham209 opened #93 "set only Header of custom Node is can drag&drop"
<img src="https://github.com/tinspham209/README/blob/master/header-can-drag.png?raw=true" />

- Im had build a custom node, by default of lib, the node is can drag by click anywhere in node
- But i want only the header of node(*) is can drag for move node around.
- How can i do that, or maybe is it feature request? 😊

(*) header of node is div that has blue color (Average Humidity, Table)

[2020-12-06 20:15] alimirakim commented on #78
A pan-zoom was exactly what I needed for the project I'm using this with! So excited to hear it's already been being worked on, and look forward to the release :) . Thank you for the hard work. Thought I might have to figure out how to do it myself hahaha.

[2020-12-06 20:25] antonioru commented on #93
Hi @tinspham209
first let me say your project looks splendid!

Now... one of the key features I wanted for this library is that the developer shouldn't worry about the drag n drop when writing custom nodes: it comes out of the box.
For this reason I don't think we will support, at least for now, the possibility of dragging only certain parts of a node: the whole node is draggable.

On the other ha

[2020-12-06 20:28] antonioru commented on #88
Hi @HarshCasper
thank you very much for your feedback, I really appreciate it.
The code you're looking at is a test related only to the typescript exported types, so even if the resource you linked is completely right, there's no need to update the code.
On the other hand, if you want to open a PR  to fix this so that it will be accessible even in tests, I'll be happy to receive it

Thank you

[2020-12-06 20:29] antonioru commented on #88
@HarshCasper I'm going to close this issue, please feel free to open any other in case you need to

[2020-12-06 20:29] #88 closed

[2020-12-06 20:34] antonioru commented on #78
@alimirakim

Yes a way better pan and zoom functionality will be release in the next version, the `0.6.0`.
Unfortunately we don't have a release date yet but it's on its way.

If you need to have a look on how it look so far, be please pull the code from the `feature/canvas-ext` branch and feel free to contribute.

About the hard work, I appreciate your comment, thank you... I must say, we worked

[2020-12-08 16:01] tinspham209 commented on #93
I was try with your solution, but it seem to not working. Hope you make an example as soon as you can. Thank you very much. 😊

Here my code:
[code]

[2020-12-14 10:06] HarshCasper opened #99 "Potential Bug Risks and Anti-Patterns"
## Description

I ran DeepSource Static Code Analysis upon the Project, the results for which are available [here](https://deepsource.io/gh/HarshCasper/beautiful-react-diagrams/).

The Static Code Analysis Tool found potential bugs and anti-patterns in the Code, that can be detrimental at a later point of time with respect to the Project. Some of the notable issues are:

- Missing props validation

[2020-12-16 22:10] RThomasHyde opened #101 "Constrain connections between ports?"
Is it possible to specify that certain input ports can connect only to certain output ports (and vice versa)? For example, if I had "red" and "green" output ports, and also "red" and "green" input ports, is it possible to only allow a connection dragged from the "red" output to attach to a "red" input port? Also, is there a way to provide feedback when dragging a connection over a port, e.g. to in

[2020-12-20 19:52] GJ-16 commented on #50
Can I work in this?

[2020-12-21 00:15] djmisterjon opened #103 "Import Type definition for custom Node ?"
hey guys how i import the type for your node in custom render?
I test all what i know but am not able to find a ways !
![image](https://user-images.githubusercontent.com/24865815/102727577-5d516180-42f4-11eb-8adc-9fa6d744ef9e.png)
Diagram seem not export Node type !
![image](https://user-images.githubusercontent.com/24865815/102727676-0c8e3880-42f5-11eb-826a-78a4f3f9b2b8.png)

Actually the only ha

[2020-12-24 02:10] alexkalinins opened #104 "`Encountered two children with same key`"
Hello. First of all, very nice project! After following the demonstrations in the documentation in JavaScript, I decided to try using the library with TypeScript. In my project, it is possible to add nodes with a button. We implement the TS types in our own object (`CustomNode` and `CustomSchema` that holds `CustomNode` instead of `Node`). We also use a custom renderer to display the nodes.

The o

[2021-01-04 23:14] yasaspeiris opened #106 "Link Customization"
**Is your feature request related to a problem?

The documentation shows how to customize nodes and it works brilliantly. I would also like to modify links, such as changing the fill color, adding an on-hover tool tip to display information etc.

**Describe the solution you'd like**

Include an example on how to modify links in documentation.

**Describe alternatives you've considered**

I tried m

[2021-01-06 17:04] mrszympek opened #107 "Linking Nodes - 1:1 relation"
**Is your feature request related to a problem? Please describe.**
I'd like to use this awesome library but I didn't find the option to make 1:1 relation of links
Now you can connect 1 node with n other nodes.

**Describe the solution you'd like**
When a node is connected with another one, the port should be disabled (so that it doesn’t connect with another node) until the blocks are disconnected.

[2021-01-11 18:14] cmrts opened #108 "Direction of link flow"
First of all....congratulations for the awesome library. I've seen a few, but this is the easiest and quickest to understand and work with. The examples are also very good! Well done.

**Is your feature request related to a problem? Please describe.**
The direction of the "information flow" animation I expected it would be from an output port of one node, to an input port of another. When connecti

[2021-01-23 17:51] shaielc opened #110 "Few interesting features"
**Is your feature request related to a problem? Please describe.**
Hi, few features that I cannot find:
1. Drag n Drop
2. Current "selected" node/link
3. Pinning links to positions

Do they exist or should I implement them myself?
Do you plan on adding them in the near future?

**Describe the solution you'd like**
1.  Having some general drop reaction
2.  Highlight and trigger event on node/link c

[2021-01-27 15:23] ranisharim-crossid opened #113 "Setting onSegmentConnect on custom renderer breaks linking"
**Describe the bug**
A clear and concise description of what the bug is.

I try to set "onSegmentConnect" on custom renderer, but even an empty function breaks the segment connection functionality. The segment remains unconnected.

**To Reproduce**
Add this to a custom renderer to render the output ports and try to capture the onSegmentConnect event.
 {outputs.map((port) =>
            React.clone

[2021-01-28 05:55] #113 closed

[2021-01-30 13:53] alikomijani opened #114 "add label to connect input argumants"
**Is your feature request related to a problem? Please describe.**
when i tray to use uncontrolled diagram i figure out that there is no way to add label to path because the  connect method just take inputId and outputId

I tray to use state and manually fix that but control this component with state is very hard

[2021-02-01 07:42] anhpt-bss commented on #17
I hope this feature will release as soon as possible. thanks

[2021-02-01 09:53] Riteshsulakhe1 opened #115 "Content render issue"
If we specify the width and height for the diagram parent div then it doesn't render the content outside of viewport means the content that are in the overflow of that div. Then if you scroll to left / down there is no content (Links and nodes)

[2021-02-03 18:51] mstone121 opened #116 "Unidirectional Dragging"
**Describe the solution you'd like**
I'm creating a data import tool that will allow users to import CSV data from somewhere else that might not necessarily have the same headers, or that might need to transform their data somehow before it can be imported. I'm using beautiful-react-digrams to create a visual interface for defining the mapping of the source data fields to the destination data fiel

[2021-02-10 06:53] ChesterSim commented on #103
Maybe you can try `import { Node } from 'beautiful-react-diagrams/@types/DiagramSchema';`?

[2021-02-14 16:39] kothariji opened #117 "Can you please tell me how can I connect parent node directly with child node when created."
I want that, when I click on Add node button, the new node rendered on the screen should directly be connected to the parent node. How I can achieve this, Could you please help!

[2021-02-17 16:47] dfirence commented on #78
@Lindsay89

Thanks to you and the team for this awesome resource, question.  When would ETA for Zoom be possibly released?

I am approaching a project start and would like to know if I can use this library

[2021-03-10 02:04] Flcwl opened #124 "How to add `className` and `readonly` to link with `connect` function?"
**Is your feature request related to a problem? Please describe.**
The `connect` function only can connect to portId, but can't custom the extra information.

**Describe the solution you'd like**
I can add `className` and `readonly` to link with `connect` function.

**Describe alternatives you've considered**
-

**Additional context**
-

[2021-03-11 05:56] Flcwl commented on #17
Why the code is loss in `master` branch?

[2021-03-16 08:51] Flcwl opened #126 "Wrong link position after custom Css `scale` then window resize when using `ports` ?"
**Describe the bug**
A clear and concise description of what the bug is.
Th link positions is wrong after custom Css `scale` and then window resize  when using `ports` ?

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Port demo https://beautifulinteractions.github.io/beautiful-react-diagrams/#/Ports
2. Set css `transform: scale(1.5)` to the DOM element with `bi bi-diagram` className

[2021-03-21 22:32] RickyMarou commented on #78
Just started playing with the lib for an hour and i just want to say thank you for your work. The DX is 💯 and it's super easy to hit the ground running building Diagrams.

Looking forward to the zoom/pan feature as I believe this is a key feature missing at the moment.
Thanks you for your work and I hope for a successful release 🙏

[2021-03-28 06:43] dbflakes commented on #78
Thank you!
Really looking forward to the new zoom functionality.

[2021-04-13 11:34] kresli opened #133 "Typescript with custom Nodes"
**Describe the bug**
Type definition for ports doesn't extends `React.DetailedReactHTMLElement` which makes `createSchema` throw error

**To Reproduce**
[code]
**Expected behavior**
not to throw error

**Screenshots**
<img width="777" alt="image" src="https://user-images.githubusercontent.com/3826097/114545844-5dcf8880-9c54-11eb-9a3c-796c2d3527f8.png">

**Additional context**
live preview:
https:/

[2021-04-13 11:36] kresli commented on #133
I guess we could do something like this?
[code]

[2021-04-13 12:08] kresli commented on #133
OK I see there is a PR to fix that https://github.com/beautifulinteractions/beautiful-react-diagrams/pull/91

[2021-04-17 18:23] allexxis commented on #106
Yes an example on how to modify link will be awesome and state for the animation to be triggered manually could help a lot

[2021-04-18 13:59] maofmoran commented on #106
I would also like to be able to customize the links as @yasaspeiris described. It can be very useful.

[2021-04-29 13:34] andriy-kdp commented on #75
can you share your solution with drag area?

[2021-04-29 14:45] feddot2517 commented on #75
you can test that fork https://github.com/feddot2517/beautiful-react-diagrams, or look at that file on line 63 https://github.com/feddot2517/beautiful-react-diagrams/blob/master/src/Diagram/DiagramNode/DiagramNode.js

[2021-04-30 09:45] andriy-kdp commented on #104
@alexkalinins hello, adre you solve this problem?

[2021-05-03 23:48] masterofdon commented on #106
Not a real solution maybe but i have added css rules for links. In order to achive that you need to first use className attr of link such as :

[code]

then created a css rule more specific than original one such as

[code]

as I said. not neat but hey it works:D

[2021-05-26 11:53] gjgit opened #140 "Hi , how to have port name ?"
how to have the port name in output/input ?

[code]

[2021-06-02 06:29] Aditi-Bhatt opened #143 "Showing Direction of link"
How to show the direction of the link continuously instead of just showing it on hover?

[2021-06-10 13:59] SeanMengis commented on #143
I did it by overriding the CSS for ".bi-link-path" :

Something like that:
[code]

I'm not 100% sure it is correct so you'll have to adjust it. I personnally use Material-UI and did the override with something like this:

[code]

[2021-06-11 12:07] Belashab commented on #104
@andriy-kdp @alexkalinins I don't know if issue is still relevant for you but it looks like I have found a way to fix this.

All you need is to change "NodesCanvas" to "NodesCanvas$1" in lines 7 and 89 in node_modules\beautiful-react-diagrams\esm\Diagram\Diagram.js

[2021-06-11 17:01] adamsch commented on #104
@Belashab Are you sure this fixes it? I just tried and it doesn't seem to work. I'm having the same issue

[2021-06-12 18:25] adityakumarsingh900 opened #144 "Need "onClick" functionality on "Links""
**Is your feature request related to a problem? Please describe.**
I want to show a popup on the click on "Link" label.

**Describe the solution you'd like**
I should be able to pass "onClick" in the links object. And this onClick should be called if I click anywhere on the link

**Describe alternatives you've considered**
Just make the "Link" label clickable!

[2021-06-12 21:33] adityakumarsingh900 opened #145 "How is "inputs" & "outputs" are different?"
I am able to connect two nodes irrespective of that they both have only  "input" nodes.

Bug -
Now if I have a link: { input: "port-4138", output: "**port-4076**" }
And a node with inputs: {id: "**port-4076**", alignment: "left"}

Try to delete this node.. you will get an error as removeNode function doesn't delete the link.

[2021-06-15 13:39] obadakhalili opened #147 "Ability to customize links"
**Is your feature request related to a problem? Please describe.**
It would be nice if links can be customized the same way nodes are. For example, I really need to have double links going outward, but I cannot achieve that because the way the library is written, links are black boxes.

[2021-06-15 13:48] obadakhalili commented on #147
And ports are not enough because a) not very convenient, b) they can't be connected while initializing the data.

[2021-06-15 15:42] andriy-kdp commented on #145
Have same problem. Don't use delete node functional provided by library. Remove connected link first, then remove node

[2021-06-15 15:56] stevechappell2000 commented on #147
Not sure why you cannot connect while initializing. Define the links[ input: xx, output: yy]

[2021-06-15 15:58] stevechappell2000 commented on #144
I would like a solution to this as well. Simply add a new function return from schema creation to catch link click.

[2021-06-15 17:15] obadakhalili commented on #147
Completely missed the fact that I can have ports in inputs, not just nodes. Thanks.

[2021-06-15 17:15] #147 closed

[2021-06-15 18:04] obadakhalili opened #148 "Conditional diagram changes causes weird bugs"
**Describe the bug**
Conditional diagram changes causes weird bugs. If changing the diagram is set up to be changed conditionally, based on some flag, it will result in inconsistent diagram between toggles. Try to lock the diagram by preventing the calls to the `onChange` event, do some changes to the diagram visually, nothing should change (which is normal), unlock the diagram, and you will notic

[2021-06-16 05:47] obadakhalili commented on #148
I've looked into the source code, and it turned out it's an easy fix (assuming I'm not breaking anything):

https://github.com/beautifulinteractions/beautiful-react-diagrams/blob/c18805eb503b810ec8ec53fc3923d8d6d1ae0d7e/src/Diagram/NodesCanvas/NodesCanvas.js#L16-L21

In the above code snippet, you are updating the nodes coordinates only if the `onChange` event prop is `true`, which is always the c

[2021-07-14 06:10] Aditi-Bhatt opened #156 "Function to add a new link that can be connected to input and output ports"
After creating a link, if I wish to change the position of the link via code, on changing the ports in the schema, the link is not getting formed in between the specified ports. Is there any function for this, like the add New Node function?

[2021-07-18 13:23] devendra-gh opened #157 "Rendering bug when removing node"
**Describe the bug**
when i delete node getting undefined issue and its blocked the application

**To Reproduce**
Steps to reproduce the behavior:
1. Go to application
2. Click on remove node action
3. Inside console throwing error message
4. See error attachment.

**Expected behavior**
Should not block the page

**Screenshots**
added screenshots

**Desktop (please complete the following informati

[2021-08-03 19:24] michaelzusev commented on #140
Hi, this is my (admittedly hacky) solution, extended from the Custom Node example documentation:

[code]
Makes this:

![2021-08-03 15_24_16-React App](https://user-images.githubusercontent.com/73654288/128074072-5434c7d3-10a9-470e-b1fe-4fcd38a2806c.png)

There's probably a better way of doing it though!

[2021-08-10 07:49] Sweechirly opened #163 "how to type the CustomNode"
according to the file DiagramSchema.ts, I find the type Node and Node‘s render, but in the example , [https://beautifulinteractions.github.io/beautiful-react-diagrams/#/Customisation](url), I can't type the port, it prompt that the port is not the reactElement, it lack type, key, props

[2021-08-25 08:53] importamt commented on #31
useSchema.ts needs to disconnect too

[2021-08-25 17:33] adelghaenian opened #168 "Cannot remove all nodes/ add multiple nodes"
It is functional only if we want to add/remove a single node from the diagram. However, when I want to add multiple nodes at once using a for loop, it adds some of them (not all of them). The same thing happens for removing nodes.

![image](https://user-images.githubusercontent.com/16430950/130838042-8aad7fd7-d1bf-4e0e-8706-2541e699a055.png)

![image](https://user-images.githubusercontent.com/1643

[2021-11-25 11:39] lamagh opened #187 "Way to add a Link between nodes created dynamically programatically"
Hi I need a way to add a link like there is add node and remove node. Is there add link and remove link?

I need to refresh the scheema

[2021-12-06 18:37] danlobo commented on #104
For some reason, addNode internal dispatch is called twice, so the schema ends with two identical nodes.

[2022-02-09 17:11] serhii-baraniuk commented on #104
Have the same issue by using NextJs

[2022-04-11 13:56] logemann commented on #104
addNode is definitely broken since dispatching seems wrong. Added 3 nodes got 5 at the end with duplicate ID errors.

[2022-04-25 21:11] omidgharib commented on #17
same issue here why current version  doesn't support this

[2022-05-05 11:10] TatsianaA opened #201 "Nodes can be dragged out of diagram workspace"
Hi, I noticed that nodes can be dragged out of diagram workspace  and in this case user doesn't see a node but it's in `schema` object.
Is it possible somehow to prevent nodes dragging out of diagram?

[2022-06-23 17:18] chrisp-jama commented on #106
Related to Link Customization, is it possible to have 2 labels on 1 link path?

[2022-07-13 17:28] jupcan commented on #17
@antonioru think this somehow is lost on master branch? thanks for your great work!

[2022-09-12 08:50] mikhail-fedosenko commented on #78
Could you also add handling of diagram node scrolling? E.g. diagram root element has non-zero `scrollLeft`, `scrollTop` because of overflow.
At the moment this causes visual glitches (because scrollLeft, scrollTop does not taken into account in `getEntityCoordinates.ts`.
<img width="524" alt="image" src="https://user-images.githubusercontent.com/1673511/189612311-37f53bbe-e020-4088-b7e2-8667f8d18a

[2022-10-25 02:43] zihanxu3 commented on #168
Same here - has anyone found a solution yet? Please kindly advise, thanks!

[2022-10-25 02:45] zihanxu3 commented on #104
Same here - has anyone found a solution yet? Please kindly advise, thanks!

[2022-10-25 05:55] SeanMengis commented on #168
I think the project is either temporarily paused or dead... The answer I posted works but is not nice. I think you'll either have to fix it yourself and make a PR (and send a message to the maintainer so he merges it) or look for another library.

[2022-11-02 15:37] mtan11 commented on #104
I have the same issue. Does anyone solve this problem?